
:global {

  html, body {
    background-color: white;
  }

  body {
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  hr {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // h1 {
  //   font-size: 50px;
  //   line-height: 58px;
  // }

  // h2 {
  //   font-size: 24px;
  //   font-weight: 500;
  //   margin-bottom: 20px;
  // }

  // h3 {
  //   font-size: 18px;
  //   font-weight: 600;
  //   margin-bottom: 20px;
  //   letter-spacing: 0.025em;
  // }

  // p, ol {
  //   font-size: 14px;
  //   line-height: 24px;
  //   color: #222;
  // }

  // ol {
  //   margin: 0;
  //   padding-left: 16px;
  // }

  // li {
  //   margin-bottom: 10px;
  // }

}