@import 'styles/style';

:local {

  .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;

    .wrapGame {
      width: 100%;
      max-width: 480px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      header {
        padding: 20px 0;
        text-align: center;
        border-bottom: solid 1px #ddd;
      }

    }

  }

}