@import 'styles/style';

:local {

  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $keySpacing;
    padding: 10px 0;

    .row {
      display: flex;
      gap: $keySpacing;

      .spacer {
        flex: 0.5;
      }

      button {
        @include removeAppearance();
        background-color: #eee;
        height: 55px;
        border-radius: 3px;
        cursor: pointer;
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;

        transition:
          background-color 0.15s ease,
          transform 0.15s ease;

        &.actionKey {
          flex: 1.5;
        }

        &:hover {
          background-color: #ddd;
        }

        &:active {
          transform: scale(0.95);
        }

      }

    }

  }

}